@import "tailwindcss";

/* @theme {
  --color-primary: #f97316;
  --color-secondary: #fb923c; 
  --color-bgPrimary: #ffffff;
  --color-tBase: #1f2937; 
} */
@theme {
  --color-primary: #fb923c;
  --color-secondary: #f97316;
  --color-bgPrimary: #020618;
  --color-tBase: #f9fafb;
}

.theme-orange {
  --color-primary: hsl(25, 100%, 50%);
  --color-secondary: hsl(25, 100%, 65%);
}

.theme-purple {
  --color-primary: hsl(270, 100%, 50%);
  --color-secondary: hsl(270, 100%, 75%);
}

.theme-green {
  --color-primary: hsl(120, 100%, 50%);
  --color-secondary: hsl(120, 100%, 45%);
}

.theme-blue {
  --color-primary: hsl(220, 100%, 50%);
  --color-secondary: hsl(220, 100%, 75%);
}

.editor-content:focus,
.editor-content:active {
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
}

/* App.css */
.fade-enter {
  opacity: 0;
  transform: translateY(10px);
}
.fade-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
}
.fade-exit {
  opacity: 1;
  transform: translateY(0);
}
.fade-exit-active {
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
}

.custom-scrollbars__container {
  background-color: white;
  border: 1px solid #333;
  border-radius: 12px;
  display: grid;
  height: 100%;
  grid-template: auto / 1fr 50px;
  overflow: hidden;
  position: relative;
}

.custom-scrollbars__content {
  height: 90vh;
  -ms-overflow-style: none;
  overflow: auto;
  padding: 0 1rem;
  scrollbar-width: none;
}

.custom-scrollbars__content::-webkit-scrollbar {
  display: none;
}

.custom-scrollbars__scrollbar {
  display: grid;
  gap: 1rem;
  grid-auto-flow: row;
  grid-template: auto 1fr auto / 1fr;
  padding: 1rem;
  place-items: center;
}

.custom-scrollbars__track-and-thumb {
  display: block;
  height: 100%;
  position: relative;
  width: 16px;
}

.custom-scrollbars__track {
  background-color: #ccc;
  border-radius: 12px;
  bottom: 0;
  cursor: pointer;
  position: absolute;
  top: 0;
  width: 16px;
}

.custom-scrollbars__thumb {
  border-radius: 12px;
  background-color: #333;
  position: absolute;
  width: 16px;
}

html {
  scroll-behavior: smooth;
}
